*.bak
*.bin
*.cm
*.cm1
*.dsk
*.ihex
*.lib
*.log
*.lst
*.map
*.md
*.o
*.obj
**/*.s19
*.sublime-workspace
*.sy
*.sym
percom/mpx9/*.dsk
tools/as9/
tools/coco-disasm/
tools/f9dasm/
tools/lwtools-4.19/
tools/LWTools-manual.pdf
tools/lwtools/
/tools/percom/percom*
tools/pretty6502
tools/usim-save*/
tools/usim/
tools/usimdbg/
**.s19
*.tmp